{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Create New Medical History</title>
{% endblock title %}

{% block content %}
<br>
<div class="sidebar">
  <br>
  <br>
  <br>
  <br>
<a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
<a href="{% url 'patients_doc' %}"><i class="fas fa-users fa-1x"></i> Patients</a>
<a href="{% url 'appointments_doc' %}"><i class="fas fa-tasks fa-1x"></i> Appointments</a>
<a href="{% url 'consultations' %}"><i class="fas fa-history fa-1x"></i> Patients' Histories</a>
<a href="{% url 'new_history' %}"><strong class="text-warning"><i class="fas fa-clone fa-1x"></i> Create History</strong></a>
<a href="{% url 'doctor_status' %}"><i class="fas fa-toggle-on fa-1x"></i> Status</a>


</div>
  </br>
  <section class="main">
    <div class="container">
      <div class="pull-right col-md-12">
        <div class="card text-primary">
          <br>
          {% include 'partials/_alerts.html' %}
          <form method="post" class="form-group col-md-12">
            <div class="card-header bg-primary text-warning">
              <h4>
                <i class="fas fa-clone"></i> Create a New Medical History</h4>
            </div>
            <br>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="form-group col-md-12 btn btn-warning" value="Create Medical History">
          </form>
        </div>
        <br>
      </div>
    </div>
  </section>

{% endblock content%}
