{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Create New Consultation</title>
{% endblock title %}

{% block content %}
<br>
<div class="sidebar">
  <br>
  <br>
  <br>
  <br>
<a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
<a href="{% url 'patients_doc' %}"><i class="fas fa-users fa-1x"></i> Patients</a>
<a href="{% url 'appointment_doc' %}"><i class="fas fa-plus-square fa-1x"></i> Make Appointment</a>
<a href="{% url 'appointments_doc' %}"><i class="fas fa-tasks fa-1x"></i> Appointments</a>
<a href="{% url 'consultations_doc' %}"><i class="fas fa-history fa-1x"></i> Past Consultations</a>
<a href="{% url 'new_history' %}"><strong class="text-warning"><i class="fas fa-clone fa-1x"></i> New Consultation</strong></a>
<a href="{% url 'doctor_status' %}"><i class="fas fa-toggle-on fa-1x"></i> Status</a>


</div>
  </br>
  <section class="main">
    <div class="container">
      <div class="pull-right col-md-12">
        <div class="card text-primary">
          <br>
          {% include 'partials/_alerts.html' %}
          <form method="post" class="form-group col-md-12">
            <div class="card-header bg-primary text-warning">
              <h4>
                <i class="fas fa-clone"></i> Create a New Consultation</h4>
            </div>
            <br>
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                  {{ form.appointment|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                  {{ form.patient_symptoms|as_crispy_field }}
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm-6 mb-2">
                  {{ form.lab_technician|as_crispy_field }}
              </div>
              <div class="form-group col-sm-6 mb-2">
                  {{ form.test_result|as_crispy_field }}
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4 mb-2">
                    {{ form.injection|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.injection_dosage|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.injection_how|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4 mb-2">
                    {{ form.tablet|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.tablet_dosage|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.tablet_how|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4 mb-2">
                    {{ form.syrup|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.syrup_dosage|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.syrup_how|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4 mb-2">
                    {{ form.suppository|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.suppository_dosage|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.suppository_how|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 mb-2">
                    {{ form.created|as_crispy_field }}
                </div>
            </div>
            <input type="submit" class="form-group col-md-12 btn btn-warning" value="Create Consultation">
          </form>
        </div>
        <br>
      </div>
    </div>
  </section>

{% endblock content%}
