<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<br>
<p>Dear Dr {{first_name}},</p>
<h3 style="text-align:center; color:#057a1a"><strong>NEW PATIENT APPOINTMENT</strong></h3>
<br>
<p>You have been assigned to a new patient whose ID is: {{patient_id}}. The appointment ID is: {{appointment_id}}.</p>
<p>Kindly navigate to your <a href="https://www.medcarehospitals.com.ng/doctor-dashboard"><strong>dashboard</strong></a> to <a href="https://www.medcarehospitals.com.ng/doctor-dashboard/patients"><strong>review</strong></a> patient's details and past <a href="https://www.medcarehospitals.com.ng/doctor-dashboard/patients-histories"><strong>medical histories.</strong></a></p>
<p>Please proceed to <a href="https://www.medcarehospitals.com.ng/doctor-dashboard/new-medical-history"><strong>creating</strong></a> a new medical history for patient.</p>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a"><strong>{{receptionist}}</strong></span></p>
<br>
<h3 style="color:#000000"><strong>NOTE: You can click directly on the hyperlinked words in the email content and they will direct you to the appropriate page on the website.</strong></h3>
