<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<p>Dear {{first_name}},</p>
<br>
<h3 style="text-align:center; color:#057a1a"><strong>NEW PATIENT APPOINTMENT</strong></h3>
<br>
<br>
<p>You have been assigned to a new patient whose ID is: {{patient_id}}. The appointment ID is: {{appointment_id}}.</p>
<br>
<p>Kindly log in (www.medcarehospitals.com.ng/doctor-dashboard) to your dashboard to review patient's details (www.medcarehospitals.com.ng/doctor-dashboard/patients) and past medical histories (www.medcarehospitals.com.ng/doctor-dashboard/patients-histories).</p>
<br>
<p>Please proceed to creating a new medical history for patient by following this link (www.medcarehospitals.com.ng/doctor-dashboard/new-medical-history)</p>
<br>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a">{{receptionist}}</span></p>
