<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<p>Dear {{lab_technician_name}},</p>
<br>
<h3 style="text-align:center; color:#057a1a"><strong>NEW MESSAGE FROM DOCTOR</strong></h3>
<br>
<br>
<p>A new patient with ID: {{patient_id}} is approaching the lab. The appointment ID is: {{appointment_Id}}.</p>
<br>
<p>Kindly log in (www.medcarehospitals.com.ng/lab-scientist-dashboard) to your dashboard to review patient's details (www.medcarehospitals.com.ng/lab-scientist-dashboard/patients).</p>
<br>
<p>Please check Doctor's notes by following this link (www.medcarehospitals.com.ng/lab-scientist-dashboard/patients-histories).</p>
<br>
<p>After conducting the test, please record the result accordingly.</p>
<br>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a">Dr {{doctor_name}}</span></p>
