<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<p>Dear {{doctor_name}},</p>
<br>
<h3 style="text-align:center; color:#057a1a"><strong>TEST RESULT FROM LABORATORY</strong></h3>
<br>
<br>
<p>The test result for the patient with ID: {{patient_id}} has been recorded. The appointment ID is: {{appointment_Id}}.</p>
<br>
<br>
<p>Please proceed to enter prescriptions across the concerned patients by following this link (www.medcarehospitals.com.ng/doctor-dashboard/patients-histories)</p><br>
<br>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a">{{lab_technician_name}}</span></p>
