{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Patient's Details</title>
{% endblock title %}

{% block content %}
<br>

</br>
<section class="main">
  <div class="d-flex justify-content-center ">
    <div class="card card-block bg-warning text-white form-group col-md-8">
      <h2 class="form-group text-center text-primary">PATIENT'S DETAILS</h3>

      <h4 class="text-primary">ID: <i class="text-white"> {{patient.user.identifier}}</i></h4>
      <h4 class="text-primary">FIRST NAME: <i class="text-white"> {{patient.user.first_name}}</i></h4>
      <h4 class="text-primary">LAST NAME: <i class="text-white"> {{patient.user.last_name}}</i></h4>
      <h4 class="text-primary">GENDER: <i class="text-white"> {{patient.user.gender}}</i></h4>
      <h4 class="text-primary">EMAIL: <i class="text-white"> {{patient.user.email}}</i></h4>
      <h4 class="text-primary">AGE: <i class="text-white"> {{patient.user.age}}</i></h4>
      <h4 class="text-primary">PHONE NUMBER: <i class="text-white"> {{patient.user.phone_number}}</i></h4>
      <h4 class="text-primary">BLOOD GROUP: <i class="text-white"> {{patient.user.blood_group}}</i></h4>
      <h4 class="text-primary">RETAINER: <i class="text-white"> {{patient.user.retainer}}</i></h4>
      <h4 class="text-primary">ADDRESS: <i class="text-white"> {{patient.user.address}}</i></h4>
      <h4 class="text-primary">DATE REGISTERED: <i class="text-white"> {{patient.user.created}}</i></h4>
      <h4 class="text-primary">LAST MODIFIED: <i class="text-white"> {{patient.user.updated}}</i></h4>
    </div>
  </div>
</section>


  <br>

{% endblock content %}
