{% extends 'base.html' %}

{% block title %}
  <title>Appointments</title>
{% endblock title %}

{% block content %}
{% load home_tags %}
  <br>
  <div class="sidebar">
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
    <a href="{% url 'patients_lab' %}"><strong class="text-warning"><i class="fas fa-users fa-1x"></i> Patients</strong></a>
    <a href="{% url 'consultations_lab' %}"><i class="fas fa-history fa-1x"></i> Patients' Histories</a>

  </div>
  <section class="main">
    {% include 'partials/_alerts.html' %}

    {% if patients_page_obj %}
    <h4 class="text-center text-warning">Search Patients by One or Many Fields</h4>
    <div class="col-md-12">
      <div class="box-element bg-warning" id="form-wrapper">
        <form method="get" class="form-inline text-white">
          {% for field in filtered_patients.form %}
            <strong>{{field.label}}:</strong>&nbsp{{field}}&nbsp&nbsp
          {% endfor %}
          <input type="submit" class="btn btn-dark" value="Sort">
        </form>
      </div>
    </div>
    {% endif %}
    <br>
    <div class="row text-center">
      {% if patients_page_obj %}
        <div class="col-md-12">
          {% if total_patients > 1 %}
          <div class="form-group col-md-12">
            <h3 class="form-group text-warning">Total Patients: {{total_patients}}</h3>
          </div>
          {% else %}
          <div class="form-group col-md-12">
            <h3 class="form-group text-warning">Total Patient: {{total_patients}}</h3>
          </div>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th>DATE REGISTERED</th>
                  <th>ID & FULL NAME</th>
                  <th>GENDER</th>
                  <th>FOLDER TYPE</th>
                  <th>BLOOD GROUP</th>
                </tr>
              </thead>
              <tbody>
              {% for patient in patients_page_obj %}
                <tr class="table-success">
                  <td>{{patient.created}}</td>
                  <td><a class="text-warning" href="{% url 'show_patient' patient.id %}"><strong>{{patient.user.username}} | {{patient.user.first_name}} {{patient.user.last_name}}</strong></a></td>
                  <td>{{patient.gender}}</td>
                  <td>{{patient.folder_type}}</td>
                  <td>{{patient.blood_group}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if patients_page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% my_url patients_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{patients_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="{% my_url patients_page_obj.number 'page' request.GET.urlencode %}">{{patients_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if patients_page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="{% my_url patients_page_obj.next_page_number 'page' request.GET.urlencode %}">{{patients_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% my_url patients_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      {% else %}
      <div class="container">
        <h3>No patient found!</h3>
      </div>

      {% endif %}
    </div>
  </section>



{% endblock content%}
