{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Patient's Details</title>
{% endblock title %}

{% block content %}
<br>

</br>
<div class="d-flex justify-content-center ">
  <div class="card card-block bg-primary text-white form-group col-md-8">
    <h2 class="form-group text-center text-warning">PATIENT'S DETAILS</h3>

    <h4 class="text-warning">ID: <i class="text-white"> {{patient.user.username}}</i></h4>
    <h4 class="text-warning">FIRST NAME: <i class="text-white"> {{patient.user.first_name}}</i></h4>
    <h4 class="text-warning">LAST NAME: <i class="text-white"> {{patient.user.last_name}}</i></h4>
    <h4 class="text-warning">GENDER: <i class="text-white"> {{patient.gender}}</i></h4>
    <h4 class="text-warning">EMAIL: <i class="text-white"> {{patient.user.email}}</i></h4>
    <h4 class="text-warning">AGE: <i class="text-white"> {{patient.age}}</i></h4>
    <h4 class="text-warning">PHONE NUMBER: <i class="text-white"> {{patient.phone_number}}</i></h4>
    <h4 class="text-warning">BLOOD GROUP: <i class="text-white"> {{patient.blood_group}}</i></h4>
    <h4 class="text-warning">FOLDER TYPE: <i class="text-white"> {{patient.retainer}}</i></h4>
    <h4 class="text-warning">ADDRESS: <i class="text-white"> {{patient.address}}</i></h4>
    <h4 class="text-warning">DATE REGISTERED: <i class="text-white"> {{patient.created}}</i></h4>
  </div>
</div>


  <br>

{% endblock content %}
