{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{user.username}}</title>
{% endblock title %}

{% block content %}
  <br>

  <div class="sidebar">
    <br>
    <br>
    <br>
    <br>
  <a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
  <a href="{% url 'patients_pha' %}"><i class="fas fa-users fa-1x"></i> Patients</a>
  <a href="{% url 'consultations_pha' %}"><i class="fas fa-history fa-1x"></i> Patients' Histories</a>
  <a href="{% url 'injections' %}"><i class="fas fa-list-ol fa-1x"></i> Injections</a>
  <a href="{% url 'new_injection' %}"><i class="fas fa-syringe fa-1x"></i> Add Injection</a>
  <a href="{% url 'tablets' %}"><i class="fas fa-list-ol fa-1x"></i> Tablets</a>
  <a href="{% url 'new_tablet' %}"><i class="fas fa-capsules fa-1x"></i> Add Tablet</a>
  <a href="{% url 'syrups' %}"><i class="fas fa-list-ol fa-1x"></i> Syrups</a>
  <a href="{% url 'new_syrup' %}"><i class="fas fa-prescription-bottle fa-1x"></i> Add Syrup</a>
  <a href="{% url 'suppositories' %}"><i class="fas fa-list-ol fa-1x"></i> Suppositories</a>
  <a href="{% url 'new_suppository' %}"><i class="fas fa-tint fa-1x"></i> Add Suppository</a>
  </div>
  <section class="main">
    {% include 'partials/_alerts.html' %}
    <h2 class="text-center">Welcome to your dashboard, <span class="text-warning"><strong><i>{{user.first_name}}</i></strong></span>. Navigate through the dashboard using the left panel</h2>
    <br>
    <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">Oncoming Appointment ID</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{next}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">OnComing Patient ID</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{next.patient.user.username}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">OnComing Patient Name</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{next.patient.user.first_name}} {{next.patient.user.last_name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content%}
