{% load static %}
<footer class="mt-1 bg-primary text-white text-center">
  <div class="col-md-12">
    <div class="row text-center">
      <div class="col-md-3">

      </div>
      <div class="col-md-4">
        <br>
        <p class="row justify-left"><strong>Links</strong></p>
        <p class="row justify-left"><a href=""><span class="text-warning">Home</span></a> </p>
        <p class="row justify-left"><a href=""><span class="text-warning">Our Doctors</span></a> </p>
        <p class="row justify-left"><a href=""><span class="text-warning">Our Departments</span></a></p>
        <p class="row justify-left"><a href=""><span class="text-warning">About Us</span></a></p>
        <p class="row justify-left"><a href=""><span class="text-warning">Contact Us</span></a></p>
      </div>
      <div class="col-md-3">
        <br>
        <img src="" width="50" height="50" alt="NHIS ACCREDITED LOGO">
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-home fa-2x text-warning"></i> <strong>Pipeline Road, Ilorin, Kwara State.</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>



  <br>
  <strong>Copyright &copy; <span class="year"></span> Med Care Hospitals</strong>
</footer>
