{% load static %}
<footer class="mt-1 bg-primary text-white text-center">
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-home fa-2x text-warning"></i> <strong class="lead">182, Pipeline Road, Adjacent CBN Quarters, Gaa Akanbi, Ilorin, Kwara State.</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>



  <br>
  <strong class="lead">Copyright &copy; <span class="year"></span> Med Care Hospitals</strong>
</footer>
