{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>About Med Care</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <br>
  <div class="col-md-12">
    <h1 class="text-center"><strong ><span class="text-warning">About Med Care</span></strong></h1>
    <br>
    <ul class="lead text-light">
      <p>
        Hospitals mend broken bodies, usher in new life and provide a dignified
        gateway out of our mortal toil. The hospital offers a comprehensive healthcare
        solution, services and support to individuals, corporate establishment and the
        government; be it Federal, State or Local Government level.
      </p>
      <p>
        <font size="+3">Med Care Hospitals</font> is a well-established Professional hospital based in
        Ilorin, Kwara State with proposed branches in major cities across Nigeria
        engaging in the works of medical services. It is a 25-bed capacity hospital that
        has all the units of a General Hospital including specialist services, laboratory
        and a pharmacy.
      </p>
      <p>
        The hospital’s clinical staff are made up of a team of doctors of which some
        are specialist; nurses; pharmacists and paramedical staff. At Med Care Hospitals,
        both clinical and non-clinical staff are fully committed to providing excellent
        care with positive attitudes towards client services.
      </p>
      <p>
        Our hospital is well endowed with a team of experts and professionals with
        specialization in delivering quality healthcare solutions with professionalism
        and according to international standards with thorough understanding of the
        Nigerian service requirements and culture.
      </p>
    </ul>
    <br>
  </div>
</section>
{% endblock content %}
