{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>About Med Care</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
    <h1 class="text-center"><strong ><span class="text-warning">About Med Care</span></strong></h1>
    <ul class="lead text-light">
      <li>
        At Med Care Hospitals Limited, our staff, both clinical and non-clinical, are fully committed
        to providing excellent care with positive attitudes towards client services
      </li>
      <br>
      <li>
        Med Care Hospitals is a well-established Professional hospital based in Ilorin, Kwara State with
        proposed branches in major cities across Nigeria engaging in the works of medical services. It is
        a 25-bed capacity hospital that has all the units of a General Hospital including specialist
        services, laboratory and a pharmacy.
      </li>
      <br>
      <li>
        The hospital’s clinical staff is made up of a team of doctors of which some are specialists;
        nurses; pharmacists and paramedical staff. Our hospital is well endowed with a team of experts
        and professionals with specialization in delivering quality healthcare solutions with
        professionalism and according to international standards with thorough understanding of the
        Nigerian service requirements and culture.
      </li>
    </ul>
    <br>
  </div>
</section>
{% endblock content %}
