<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<p>Dear {{rec_name}},</p>
<br>
<h3 style="text-align:center; color:#057a1a"><strong>INVOICE CONFIRMATION DONE</strong></h3>
<br>
<br>

<p>The invoice with the following details has been verified and confirmed:</p>
<p>APPOINTMENT ID:</p> <p><span style="color:#057a1a">{{appointment_Id}}</span></p>
<p>PATIENT ID:</p> <p><span style="color:#057a1a">{{patient_id}}</span></p>
<br>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a">{{admin_name}}</span></p>
