{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Confirm Invoice</title>
{% endblock title %}

{% block content %}
<br>
{% if 'receptionist-dashboard' in request.path %}
<div class="sidebar">
  <br>
  <br>
  <br>
  <br>
<a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
<a href="{% url 'patients' %}"><i class="fas fa-users fa-1x"></i> Patients</a>
<a href="{% url 'appointments' %}"><i class="fas fa-tasks fa-1x"></i> Appointments</a>
<a href="{% url 'appointment' %}"><i class="fas fa-plus-square fa-1x"></i> Appoint</a>
<a href="{% url 'invoices' %}"><strong class="text-warning"><i class="fas fa-print fa-1x"></i> Invoices</strong></a>
<a href="{% url 'invoice' %}"><i class="fas fa-receipt fa-1x"></i> Issue Invoice</a>
</div>
{% else %}
<div class="sidebar">
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'edit_profile' %}"><i class="fas fa-edit fa-1x"></i> Edit Profile</a>
    <a href="{% url 'patients' %}"><i class="fas fa-users fa-1x"></i> Patients</a>
    <a href="{% url 'invoices' %}"><strong class="text-warning"><i class="fas fa-print fa-1x"></i> Invoices</strong></a>

</div>
  </div>
{% endif %}


  </br>
  <div class="container">
    <div class="pull-right col-md-12">
      <div class="form-group col-md-12">
        <h3 class="form-group text-center text-warning">Please check/uncheck confirmation box and then click confirm</h3>
      </div>
      <div class="card text-primary">
        <br>
        {% include 'partials/_alerts.html' %}
        <form method="post" class="form-group col-md-12">
          <div class="card-header bg-primary text-warning">
            <h4>
              <i class="fas fa-toggle-on"></i> Confirm Invoice</h4>
          </div>
          <br>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="form-group col-md-12 btn btn-warning" value="Confirm">
        </form>
      </div>
      <br>
    </div>
  </div>

{% endblock content%}
