<p style="text-align:center"><img src="http://www.medcarehospitals.com.ng/static/img/logo2.jpg" alt="Medcare Logo" width="300" height="113"></p>
<p>Dear {{admin_name}},</p>
<br>
<h3 style="text-align:center; color:#057a1a"><strong>REQUEST FOR INVOICE CONFIRMATION</strong></h3>
<br>
<br>
<p>Please kindly verify if you have received an alert for the sum of:</p>
<p><span style="color:#057a1a">₦{{total}}</span></p>

<p>After verification, please proceed to confirm the invoice with the following details:</p>
<p>APPOINTMENT ID:</p> <p><span style="color:#057a1a">{{appointment_Id}}</span></p>
<p>PATIENT ID:</p> <p><span style="color:#057a1a">{{patient_id}}</span></p>
<br>
<br>
<p>Thanks and Best Regards,</p>
<p><span style="color:#057a1a">{{rec_name}}</span></p>
