{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Register</title>
{% endblock title %}

{% block content %}
  </br>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h5>{{message}}</h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="card text-primary">
        <br>
        <form method="post" class="form-group col-md-12">
          <div class="card-header bg-primary text-warning">
            <h4>
              <i class="fas fa-address-card"></i> Register</h4>
          </div>
          <br>
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" class="form-group col-md-12 btn btn-warning" value="Register">
        </form>
      </div>
    </div>
    <br>
{% endblock content%}
