{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Change Password</title>
{% endblock title %}

{% block content %}
</br>
  <div class="container">
    <div class="card">
      <br>
      {% include 'partials/_alerts.html' %}
      <form method="post" class="form-group col-md-12">
        <div class="card-header bg-primary text-warning">
          <h4>
            <i class="fas fa-key"></i> Change Password</h4>
        </div>
        <br>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="form-group col-md-12 btn btn-warning" value="Update">
      </form>
    </div>
  </div>
  <br>
{% endblock content%}
